{% extends "forms.html" %}
{% load forms %}
{% block stylesheet %}base{% endblock %}
{% block bodyclass %}login{% endblock %}
{% block usertools %}{% endblock %}
{% block breadcrumbs %}{% endblock %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/custom.css"/>
{% endblock %}

{% block extrahead %}
<script src="{{ MEDIA_URL }}js/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript">
        $(document).ready(function() {
                        $("p.saml-switch a").click(
                      function() {
                        $("#regular_login_fields").addClass("hidden");
                        $("#saml_login_fields").removeClass("hidden");
                                $("p.saml-switch").toggle();
                                $("p.regular-switch").toggle();
                      });
                        $("p.regular-switch a").click(
                        function() {
                                        $("p.regular-switch").toggle();
                                        $("p.saml-switch").toggle();
                          $("#saml_login_fields").addClass("hidden");
                          $("#regular_login_fields").removeClass("hidden");
                        });
                });

</script>
{% endblock %}

{% block content %}
<h1>Login Required</h1>
{% if form.errors or form.non_field_errors %}
{{ form.non_field_errors }}
{% endif %}

{% if samlform.errors %}
{{ samlform.non_field_errors }}
{% endif %}

<div id="regular_login_fields">
  {% if request.META.HTTP_PERSISTENT_ID %}
  <ul class="errorlist">
    <li>Because this is the first time you have logged in using your AAF credentials please log in using your {{ org_name }} username/password to link your account with your AAF identity.</li>
  </ul>
  {% else %}
  {% if request.META.HTTP_SHIB_SESSION_ID %}
  <ul class="errorlist">
    <li>Your AAF Identity provider is not releasing eduPersonTargetedID. This is needed to log you in via the AAF.</li>
  </ul>
  {% endif %}
  {% endif %}
  
  <form method="post" action=".">{% csrf_token %}
    {% formfield form.username %}
    {% formfield form.password %}
    <input type="submit" value="login" />
    {% if next %}
    <input type="hidden" name="next" value="{{ next }}" />
    {% endif %}
  </form>
</div>
<div id="saml_login_fields" class="hidden">
  <img src="https://ds.aaf.edu.au/AAF/images/aaf_button.png"/>
    
  <form method="post" action="{% url kg_saml_login %}">{% csrf_token %}
    {% formfield samlform.institute %}
    <input type="submit" value="AAF login"/>
    {% if next %}
    <input type="hidden" name="next" value="{{ next }}" />
    {% endif %}
  </form>
  
</div>

{% if saml_enabled and not request.META.HTTP_PERSISTENT_ID %}
<p class="saml-switch">Or <a href="#">log in</a> using the <a href="#">Australian Access Federation</a>.</p>
{% endif %}
<p class="regular-switch" style="display: none">Or log in with your <a href="#">{{ org_name }} username/password</a>.</p>

{% if saml_enabled %}
<p><a href="http://www.vpac.org/what-is-aaf">What is the AAF?</a></p>
{% endif %}

<h3>Don't have a username?</h3>
<p><a href="{% url kg_application_index %}">Sign up for an account</a></p>
<h3>Forgot your password?</h3>
<p>Ring us on (03) 9925 4410 or email <a href="mailto:help@vpac.org">help@vpac.org</a> and we'll arrange a reset for you.</p>


{% endblock %}
