{% load forms %}
<fieldset>
<div>
<p>By applying as a Project Leader I understand I will be responsible for: 
<ol>
  <li>the conduct of my approved project and how VPAC facilities are utilised.</li>
  <li>managing and maintaining accurate project and project-member records at VPAC for users I approve to join my project, and</li>
  <li>overseeing and managing my project's data on VPAC storage.</li>
</ol></p>
<br/>
<p>I agree to respond to all VPAC queries regarding the status of my project, users I approve to join my project, and my project's data on VPAC storage, in a timely manner.</p>
<br/>
<p>If my project is sponsored by a VPAC Member institution: 
<ol>
  <li>I agree to provide VPAC, and my institutional representative if so requested, with a project report each academic semester. The report should list the active project members, software and resource utilisation at VPAC, software and resource utilisation at other facilities for my project, noteworthy outcomes, and future work.</li>
  <li>I agree to abide by any policies of my Member institution regarding location, control, and ownership of my project's data, and will advise VPAC regarding any arrangements required</li>
 </ol>
</p>
</div>
{% formfield form.aup %}
</fieldset>
