{% extends "base.html" %}

{% block site_name_title %}Karaage - VPAC{% endblock %}
{% block site_name_header %}Karaage - VPAC{% endblock %}

{% block usertools %}
{% if not is_popup %}
<div id="user-tools">
        Welcome, <strong>{{ user.first_name }}</strong>
</div>
{% endif %}
{% endblock %}

{% block footer %}
<div id="footer">
  <p class="align-right"><a href="http://code.vpac.org/trac/karaage/">About</a> |
    <a href="http://www.vpac.org">Karaage &copy; VPAC</a>
  </p>
</div>
{% endblock %}
